* {
    font-size: 1.5rem;
  }
  
  .input-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #d86755;
    width: 50%;
    padding: 0.5rem;
    border-radius: 0.5rem;
    color: white;
    box-shadow: 0.25rem 0.25rem 0rem #f0b2a8;
  }
  
  input {
    margin: 0 0.5rem 0 0.5rem;
    width: 100%;
    border: none;
    outline: none;
    background: #d86755;
    color: white;
  }
  
  ::placeholder {
    color: #f0b2a8;
  }
  